!!!
%html{ :style => "height: 100%; margin: 0px; padding: 0px;"}
  %head
    %title ToDo
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :style => "height: 100%; margin: 0px; padding: 0px;"}
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            ToDo
          %p
            Welcome to your Reminder Application
          .text-center
            = link_to 'New Task', new_task_path, class: 'btn btn-primary', remote: true
          .text-center
            %strong= current_user.email
          .text-center
            = link_to 'logout', destroy_user_session_path, method: :delete
    %div{ :style => "height: 100%;"}
      = yield

  %div{ :style => "margin-bottom:0px;"}
    %h5.text-center
      Application Developed by
      = link_to 'https://www.facebook.com/ishan070692' do
        %span Ishan Gandhi
      %br
      Fork the repository on
      = link_to 'https://github.com/ishangandhi1/node' do
        %span GitHub


