!!!
%html
  %head
    %title todo
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            ToDo
          %p
            Welcome to your Reminder Application
    .row-fluid
      .span4.offset4
        = yield
  %div
    %h5.text-center
      Application Developed by
      = link_to 'https://www.facebook.com/ishan070692' do
        %span Ishan Gandhi
      %br
      Fork the repository on
      = link_to 'https://github.com/ishangandhi1/node' do
        %span GitHub